* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #07352c;
    --secondary-color: #90e2d2;
    --tertiary-color: #1abc9c;
  }
  

  
  body {
    font-family:'dancing script', cursive;
    
  }
  
  /*header*/
  header {
    text-align:center;
    width:100%;
    height:auto;
    position:relative;
    overflow:hidden;
    border-radius: 0 0 85% 85% / 30%;
    background-color: var(--tertiary-color)
  }



  header h1 {
    font-family: 'dancing script', cursive;
    font-weight: bold;
    font-size: 50px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }

  header a {
      text-decoration: none;
      color: var(--primary-color);
  }

  header nav {
      margin: 8px 0;
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 30px;
      text-shadow: 0 0 10px rgb(255, 255, 255); 
  }

header nav ul li a:hover {
    color:var(--secondary-color);
    background: white;
    border-radius: 15px;
    text-shadow: none;
}
/*end header*/

/*section*/
section {
    padding: 25px;
}

/*Hero starts*/
.hero {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  
}

.hero-img img {
    max-width: 250px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}


div.hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.hero-info h2 {
    text-align: center;
    color:var(--primary-color) ;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

/* section title */
.section-title {
    font-size: 36px;
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto 20px auto;
    width: 50%;

}

/* about me*/
.me p {
    line-height: 1.7;
    color: var(--primary-color);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.me {
    background-color: var(--secondary-color);
}

/*projects*/
.project {
    display: block;
    justify-content: center;
    align-content: center;
}

.lable {
    display: inline-block;
    position: relative;
    margin: 20px;
    border: var(--secondary-color);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5),
    0px 10px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5),
    0px 10px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5), 0px 10px 7px rgba(0, 0, 0, 0.2);
}


.label p {
    position: relative;
    padding: 10px;
    width: 100%;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 24px;
    text-align: center;
  }
  
  .label a {
    text-decoration: none;
  }
  
  .project img {
    flex: 1 1 24vw;  
    max-height: 200px;
    height: 35vw;
    display: block;
    position: relative;
    margin: 10px;
  }

  .project-main img {
      flex: 1 1 24vw;
      max-height: 300px;
      height: 50vw;
      display: block;
      position: relative;
      margin: 10px;
  }
  /*projects end*/

  /*contact*/
  .contact-info {
      color: var(--primary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
 }



  .contact-info > * {
      flex: 1;
      margin: 15px;
  }

  .contact-info address {
      line-height: 1.5;
      font-size: 15px;
      font-style: normal;
      margin-left: 25%;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .contact-info a {
      text-decoration: none;
      color: var(--primary-color);
  }

  .contact-me {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid var(--secondary-color);
    background-color: aliceblue;
    padding: 20px;
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
  }



  .contact-me h3 {
      font-size: 25px;
      padding-bottom: 10px;
  }

  .contact-me input,
  .contact-me textarea {
      border: 1px solid var(--primary-color);
      display: block;
      padding: 7px 15px;
      font-size: 18px;
      color: var(--primary-color);
      width: 100%;
      margin-bottom: 15px;
      margin-top: 5px;
      border-radius: 10px;
      background-color: var(--secondary-color);
  }

  .contact-me input:focus,
  .contact-me textarea:focus {
      outline: none;
  }

  .contact-me button {
      width: 100%;
      border: none;
      background: var(--tertiary-color);
      color: var(--primary-color);
      text-align: center;
      padding: 15px 0;
      font-size: 15px;
      border-radius: 10px;
  }

  .contact-me button:hover {
      color: var(--primary-color);
      background: var(--tertiary-color);
  }

  .flex-row {
      display: flex;
  }