* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #07352c;
    --secondary-color: #90e2d2;
    --tertiary-color: #1abc9c;
  }
  

  
  body {
    font-family:'dancing script', cursive;
    
  }
  
  /*header*/
  header {
    text-align:center;
    width:100%;
    height:auto;
    position:relative;
    overflow:hidden;
    border-radius: 0 0 85% 85% / 30%;
    background-color: var(--tertiary-color)
  }



  header h1 {
    font-family: 'dancing script', cursive;
    font-weight: bold;
    font-size: 50px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }

  header a {
      text-decoration: none;
      color: var(--primary-color);
  }

  header nav {
      margin: 8px 0;
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 30px;
      text-shadow: 0 0 10px rgb(255, 255, 255); 
  }

header nav ul li a:hover {
    color:var(--secondary-color);
    background: white;
    border-radius: 15px;
    text-shadow: none;
}
/*end header*/

/*section*/
section {
    padding: 25px;
}

/*Hero starts*/
.hero {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  
}

.hero-img img {
    max-width: 250px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}


div.hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.hero-info h2 {
    text-align: center;
    color:var(--primary-color) ;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

/* section title */
.section-title {
    font-size: 36px;
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto 20px auto;
    width: 50%;

}

/* about me*/
.me p {
    line-height: 1.7;
    color: var(--primary-color);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.me {
    background-color: var(--secondary-color);
}